@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --header-height: calc(10vh + 5vh);
}
* {
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
.header {
  position: fixed;
  z-index: 699;
}

.header-logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  z-index: 100;
  cursor: pointer;
}
.content {
  gap: 2vh;
}
.header-symbols {
  font-size: 20px;
}
.icon-search,
.icon-fav {
  margin-left: 8px;
  cursor: pointer;
  font-weight: normal;
}
.header-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: black;
  background-color: white;
  margin-top: 10vh;
  min-height: 5vh;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 90%;
  padding: 0;
}
.header-nav ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.fashion-active {
  font-weight: 700;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}
.footer {
  width: 100%;
  font-family: "Roboto", sans-serif;
  height: 70vh;
  position: relative;
  background-color: white;
  border-top: 1px solid #e0e0e0;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  z-index: 0;
}

.footer-name {
  font-size: 50px;
  font-weight: 600;
  padding-top: 20vh;
  padding-bottom: 5vh;
}
.footer {
  position: sticky;
  width: 100%;
  min-height: 20vh;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.footer-col h4 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 12px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-col ul li:hover {
  color: #fff;
}
.main {
  position: relative;
  height: fit-content;
  margin-top: 16vh;
  z-index: 50;
  background-color: white;
  min-width: 100%;
}

.content1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content1-image {
}
.content1-image img {
  width: 100%;
  height: 100%;
  background-position: center;
}
.content1-title {
  display: flex;
  position: absolute;
  right: 30vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.content1-pa {
  text-align: center;
  padding-top: 5vh;
  padding-left: 25vh;
  padding-right: 25vh;
  padding-bottom: 5vh;
}
.menu-filter-Coco {
  display: none;
}
.content1-images {
  width: 10vh;
  height: 10vh;
}
.container2-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  padding-top: 5vh;
}
.displaynone {
  display: none;
}

.filter-icon {
  width: 24px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-icon span {
  position: relative;
  width: 2px;
  height: 100%;
  background: black;
}

.filter-icon span::after {
  content: "";
  position: absolute;
  left: -4px;
  width: 10px;
  height: 2px;
  background: black;
}

.filter-icon span:nth-child(1)::after {
  top: 4px;
}

.filter-icon span:nth-child(2)::after {
  top: 9px;
}

.filter-icon span:nth-child(3)::after {
  top: 13px;
}
.container2-filter-tab-select {
  display: flex;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  gap: 2vh;
}
.container2-filter-tab-select p {
  font-weight: 550;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container2-filter-tab-quantity {
  font-size: 15;
  opacity: 0.5;
}

.container2-filter-tab::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cfcfcf;
}

.container2-filter-tab::after {
  bottom: 0;
}
.container2-filter-link p {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}
.container2 {
  position: relative;
  overflow: visible;
}
.container2-filter-tab {
  position: sticky;
  top: 10vh;
  z-index: 1000;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 0 40px;
}
.container-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4vw;
  width: 100%;
  padding: 4vw;
  box-sizing: border-box;
}
.product-media {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
}

.product-media img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-content-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-content-item-link {
  padding-top: 2vh;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    font-weight 0.2s ease;
}
.container-content-item-link:hover {
  transform: translateX(10%);
  font-weight: 600;
}
.container-content-item-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease;
}
.container-content-item-link:hover::after {
  width: 100%;
}
.product-media::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background:
    linear-gradient(black, black) top / 0 1px no-repeat,
    linear-gradient(black, black) bottom / 0 1px no-repeat,
    linear-gradient(black, black) left / 1px 0 no-repeat,
    linear-gradient(black, black) right / 1px 0 no-repeat;
  transition: background-size 0.35s ease;
}
.product-media:hover::after {
  background-size:
    100% 1px,
    100% 1px,
    1px 100%,
    1px 100%;
}
